<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">
		
		<!-- FontAwesome CSS -->
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous">
		
		
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="estilo.css">
		
		
		<title>Login</title>
	</head>
	
	<body class="bodycenter">
		<nav class="d-flex flex-row navbar navbar-expand-sm navbar-dark fixed-top navBorder"style="background-color: #02968A">
			  
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  				</button>
			  
			<a href="#" class="mr-3"><img src="logo.png"></a>
			
		
			
		</nav>
        
        <div class="container text-center">
            <h1 style="color: gray">Área do Administrador</h1><br/>
            <form class="form login" action="#" method="POST" th:action="@{/adminFilme}" th:object="${usuario}">
                <img src="logoGrande.jpg" class="LogoLogin"><br/><br/>
                
                <div class="col align-self-center">
                    <label for="login" class="col-sm-2 text-center" style="font-size: 20px"><b>LOGIN</b></label>
                    <input type="text" class="col-sm-8 login-input" id="login" th:field="*{login}" th:value="*{login}"> >
                </div><br/>
                
                <div class="col align-self-center">
                    <label for="senha" class="col-sm-2 text-center" style="font-size: 20px"><b>SENHA</b></label>
                    <input type="password" class="col-sm-8 login-input" id="senha" th:field="*{senha}" th:value="*{senha}">>
                </div><br/>
                
                <div class="col align-self-center ml-2">
                    <button type="submit" class="btn col-10 btn-lg btn-entrar">ENTRAR</button>
                     
                </div><br/><br/>
               
            </form>
        </div>
	
	
	
	
	
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</body>
</html>