<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <!-- Custom CSS -->
    <link rel="stylesheet" href="estilo.css">


    <title>Hello, world!</title>
</head>

<body style="background-color: rgb(218, 218, 218);">
    <nav class="d-flex flex-row navbar navbar-expand-sm navbar-dark fixed-top navBorder bg-p">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="#" class="mr-3"><img class="logo" src="img/logo2.png"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-md-8 col-lg-6 mr-auto mb-2 mb-sm-0">
                <form class="form-inline">
                    <input type="text" class="form-control barraPesquisa col-12 col-md-10"
                        placeholder="Pesquisar Filmes..." />
                </form>
            </div>

            <div class="">
                <button type="button" class="btn bg-s c-s col-12"><b>SAIR</b></button>
            </div>
        </div>

    </nav>

    <div class="container col-12 mt-3">
        <div class="formfilme col-11 mx-auto mt-auto mb-5">

            <div class="row">
                <div class="foto col-2 mt-3 text-center">
                    <img src="c.jpg" class="img-fluid imagem-addfilme" />
            </div>

                <div class="campos-filme form col-5 mt-3">

                    <div class="row">
                        <H1 class=" mt-auto mb-auto">Rocky Balboa</H1>
                        <p class="text-right ml-2">
                            <img src="img/12.png" class="ico-desc"/>
                        </p>
                    </div>

                    <div class="row filmedesc">
                            <p><i>2019 - Ação / Lutas 2h 30m</i></p>
                    </div>
                    <div class="row">
                        <p class="filmedesc">
                                Depois de ter sido derrotado pelo arrogante Clubber Lang, Rocky Balboa decide reconquistar o título de campeão de pesos pesados e se prepara para uma revanche. 
                                Para treinar, o lutador pede a ajuda de seu antigo adversário, Apollo Creed.
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="img/stars.png" class="ico-desc">
                            <b>Elenco: </b> Sylvester Stallone, Burt Young, Antonio Tarver, Geraldine Hughes
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="img/clapperboard.png" class="ico-desc">
                            <b>Diretor: </b> Sylvester Stallone
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="img/calendar.png" class="ico-desc">
                            <b>Data de Estreia: </b> 20 de dezembro de 2006
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="img/film.png" class="ico-desc">
                            <b>Distribuidora: </b> Fox Filmes do Brasil
                        </p>
                    </div>
                </div>

                
                <div class="campos-filme col-5  text-right">
                    <div class="col-12 mt-3 embed-responsive embed-responsive-16by9" >
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3VUblDwa648" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="embed-responsive-item" allowfullscreen></iframe>
                    </div>
                </div>

            </div>


            <div class="row mr-2 ">
                <h1 class="c-s ml-3">Programação</h1>

                <div class="container col-12 mt-3">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active bg-s c-s" id="t1-tab" data-toggle="tab" href="#t1" role="tab" aria-controls="t1"
                                    aria-selected="true"><b>06/03 - Qua</b></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link bg-s c-s" id="t2-tab" data-toggle="tab" href="#t2" role="tab" aria-controls="t2"
                                    aria-selected="false"><b>07/03 - Qui</b></a>
                            </li>

                            <li class="nav-item">
                                    <a class="nav-link bg-s c-s" id="t3-tab" data-toggle="tab" href="#t3" role="tab" aria-controls="t3"
                                        aria-selected="false"><b>08/03 - Qui</b></a>
                            </li>

                            <li class="nav-item">
                                    <a class="nav-link bg-s c-s" id="t4-tab" data-toggle="tab" href="#t4" role="tab" aria-controls="t4"
                                        aria-selected="false"><b>09/03 - Qui</b></a>
                                </li>

                        </ul>
                        
                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="t1" role="tabpanel" aria-labelledby="t1-tab">
                                    <table class="table table-striped ">

                                            <tbody>
                                                <tr>
                        
                                                    <td class="prog-sala prog-font text-center">
                                                        <b>Sala 1</b>
                                                    </td>
                        
                                                    <td class="form-inline">
                                                        <div class="prog-horario prog-font ml-1 px-1"><b>13:20</b></div>
                                                        <div class="prog-horario prog-font ml-1 px-1"><b>14:50</b></div>
                                                        <div class="prog-horario prog-font ml-1 px-1"><b>15:30</b></div>
                                                    </td>
                                                    
                                                    <td>
                                                        <img src="img/DUB.png" class="ico-desc"/>
                                                        <img src="img/2D.png" class="ico-desc"/>
                                                    </td>
                        
                                                    <td class="text-right prog-font">
                                                        <b>Inteira:</b> R$ 28,00 - <b>Meia:</b> R$ 14,00
                                                    </td>
                        
                                                </tr>
                                                <tr>
                        
                                                        <td class="prog-sala prog-font text-center">
                                                            <b>Sala 1</b>
                                                        </td>
                            
                                                        <td class="form-inline">
                                                            <div class="prog-horario prog-font ml-1 px-1"><b>13:20</b></div>
                                                            <div class="prog-horario prog-font ml-1 px-1"><b>14:50</b></div>
                                                            <div class="prog-horario prog-font ml-1 px-1"><b>15:30</b></div>
                                                        </td>
                                                        
                                                        <td>
                                                            <img src="img/DUB.png" class="ico-desc"/>
                                                            <img src="img/2D.png" class="ico-desc"/>
                                                        </td>
                            
                                                        <td class="text-right prog-font">
                                                            <b>Inteira:</b> R$ 28,00 - <b>Meia:</b> R$ 14,00
                                                        </td>
                            
                                                    </tr>
                                                    <tr>
                        
                                                            <td class="prog-sala prog-font text-center">
                                                                <b>Sala 1</b>
                                                            </td>
                                
                                                            <td class="form-inline">
                                                                <div class="prog-horario prog-font ml-1 px-1"><b>13:20</b></div>
                                                                <div class="prog-horario prog-font ml-1 px-1"><b>14:50</b></div>
                                                                <div class="prog-horario prog-font ml-1 px-1"><b>15:30</b></div>
                                                            </td>
                                                            
                                                            <td>
                                                                <img src="img/DUB.png" class="ico-desc"/>
                                                                <img src="img/2D.png" class="ico-desc"/>
                                                            </td>
                                
                                                            <td class="text-right prog-font">
                                                                <b>Inteira:</b> R$ 28,00 - <b>Meia:</b> R$ 14,00
                                                            </td>
                                
                                                        </tr>
                                            </tbody>
                                        </table>
                            </div>



                            <div class="tab-pane fade show" id="t2" role="tabpanel" aria-labelledby="t2-tab">
                                    <table class="table table-striped ">

                                            <tbody>
                                                <tr>
                        
                                                    <td class="prog-sala prog-font text-center">
                                                        <b>Sala 1</b>
                                                    </td>
                        
                                                    <td class="form-inline">
                                                        <div class="prog-horario prog-font ml-1 px-1"><b>13:20</b></div>
                                                        <div class="prog-horario prog-font ml-1 px-1"><b>14:50</b></div>
                                                        <div class="prog-horario prog-font ml-1 px-1"><b>15:30</b></div>
                                                    </td>
                                                    
                                                    <td>
                                                        <img src="img/DUB.png" class="ico-desc"/>
                                                        <img src="img/2D.png" class="ico-desc"/>
                                                    </td>
                        
                                                    <td class="text-right prog-font">
                                                        <b>Inteira:</b> R$ 28,00 - <b>Meia:</b> R$ 14,00
                                                    </td>
                        
                                                </tr>
                                                <tr>
                        
                                                        <td class="prog-sala prog-font text-center">
                                                            <b>Sala 1</b>
                                                        </td>
                            
                                                        <td class="form-inline">
                                                            <div class="prog-horario prog-font ml-1 px-1"><b>13:20</b></div>
                                                            <div class="prog-horario prog-font ml-1 px-1"><b>14:50</b></div>
                                                            <div class="prog-horario prog-font ml-1 px-1"><b>15:30</b></div>
                                                        </td>
                                                        
                                                        <td>
                                                            <img src="img/DUB.png" class="ico-desc"/>
                                                            <img src="img/2D.png" class="ico-desc"/>
                                                        </td>
                            
                                                        <td class="text-right prog-font">
                                                            <b>Inteira:</b> R$ 28,00 - <b>Meia:</b> R$ 14,00
                                                        </td>
                            
                                                    </tr>
                                                    <tr>
                        
                                                            <td class="prog-sala prog-font text-center">
                                                                <b>Sala 1</b>
                                                            </td>
                                
                                                            <td class="form-inline">
                                                                <div class="prog-horario prog-font ml-1 px-1"><b>13:20</b></div>
                                                                <div class="prog-horario prog-font ml-1 px-1"><b>14:50</b></div>
                                                                <div class="prog-horario prog-font ml-1 px-1"><b>15:30</b></div>
                                                            </td>
                                                            
                                                            <td>
                                                                <img src="img/DUB.png" class="ico-desc"/>
                                                                <img src="img/2D.png" class="ico-desc"/>
                                                            </td>
                                
                                                            <td class="text-right prog-font">
                                                                <b>Inteira:</b> R$ 28,00 - <b>Meia:</b> R$ 14,00
                                                            </td>
                                
                                                        </tr>
                                            </tbody>
                                        </table>
                            </div>






                            

                        </div>

                
                
                

            </div>

        </div>
    </div>

    <!-- Modal Adicionar Sala-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"><b>Adicionar uma nova sala de cinema</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body col-12">
                    <p class="col mt-auto mb-auto">Nome <input type="text" name="sala-nome" class="col-10" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Adicionar Sala</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>