<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <!-- Custom CSS -->
	<link rel="stylesheet" href="http://movieresources.000webhostapp.com/estilo.css">


    <title>Hello, world!</title>
</head>

<body style="background-color: rgb(218, 218, 218);">
    <nav class="d-flex flex-row navbar navbar-expand-sm navbar-dark fixed-top navBorder bg-p">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

		<a href="/movie/" class="mr-3"><img class="logo" src="http://movieresources.000webhostapp.com/img/logo2.png"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-md-8 col-lg-6 mr-auto mb-2 mb-sm-0">
                <form class="form-inline">
                    <input type="text" class="form-control barraPesquisa col-12 col-md-10"
                        placeholder="Pesquisar Filmes..." />
                </form>
            </div>

            <div class="">
                <button type="button" class="btn bg-s c-s col-12"><b>SAIR</b></button>
            </div>
        </div>

    </nav>

    <div class="container col-12 mt-3">
        <div class="formfilme col-11 mx-auto mt-auto mb-5">

            <div class="row">
                <div class="foto col-2 mt-3 text-center">
                    <img th:src="${'data:image/png;base64,' + filme.getPosterBase64()}" id="poster" class="img-fluid imagem-addfilme" />
                </div>

                <div class="campos-filme form col-5 mt-3">

                    <div class="row">
                        <H1 class=" mt-auto mb-auto" th:text="${filme.nome}">Rocky Balboa</H1>
                        <p class="text-right ml-2">
                            <img src="img/12.png" th:src="${'http://movieresources.000webhostapp.com/img/' + filme.classifIndicativa + '.png'}" class="ico-desc"/>
                        </p>
                    </div>

                    <div class="row filmedesc">
                            <p><i th:text="${#dates.format(filme.estreia, 'dd/MM/yyyy') + ' - ' + filme.genero + ' ' + #dates.format(filme.duracao, 'HH:mm')}">2019 - Ação / Lutas 2h 30m</i></p>
                    </div>
                    <div class="row">
                        <p class="filmedesc" th:text="${filme.sinopse}">
                                Depois de ter sido derrotado pelo arrogante Clubber Lang, Rocky Balboa decide reconquistar o título de campeão de pesos pesados e se prepara para uma revanche. 
                                Para treinar, o lutador pede a ajuda de seu antigo adversário, Apollo Creed.
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="http://movieresources.000webhostapp.com/img/stars.png" class="ico-desc">
                            <b>Elenco: </b> <span th:text="${filme.elenco}" th:remove="tag">Sylvester Stallone, Burt Young, Antonio Tarver, Geraldine Hughes</span>
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="http://movieresources.000webhostapp.com/img/clapperboard.png" class="ico-desc">
                            <b>Diretor: </b> <span th:text="${filme.diretor}" th:remove="tag">Sylvester Stallone </span>
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="http://movieresources.000webhostapp.com/img/calendar.png" class="ico-desc">
                            <b>Data de Estreia: </b> <span th:text="${#dates.format(filme.estreia, 'dd MMMM yyyy')}" th:remove="tag">20 de dezembro de 2006</span>
                        </p>
                    </div>

                    <div class="row">
                        <p class="filmedesc">
                            <img src="http://movieresources.000webhostapp.com/img/film.png" class="ico-desc">
                            <b>Distribuidora: </b> <span th:text="${filme.distribuidora}">Fox Filmes do Brasil</span>
                        </p>
                    </div>
                </div>

                
                <div class="campos-filme col-5  text-right">
                    <div class="col-12 mt-3 embed-responsive embed-responsive-16by9" >
                            <iframe width="560" height="315" th:src="${filme.trailer}" src="https://www.youtube.com/embed/3VUblDwa648" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="embed-responsive-item" allowfullscreen></iframe>
                    </div>
                </div>

            </div>


            <div class="row mr-2 ">
                <h1 class="c-s ml-3">Programação</h1>

                <div class="container col-12 mt-3">

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" th:each="p : ${hashProgramacoes.keySet()}">
                                <a class="nav-link bg-s c-s" id="t1-tab" th:id="${'t' + #dates.format(p, 'dd/MM/yyyy') + '-tab'}" data-toggle="tab" th:href="${'#t' + #dates.format(p, 'dd-MM-yyyy')}" href="#t1"><b th:text="${#dates.format(p, 'dd/MM/yyyy')}">06/03 - Qua</b></a>
                            </li>


                        </ul>
                        
                        
                        <div class="tab-content" id="myTabContent" >

                            <div class="tab-pane fade show" th:each="p : ${hashProgramacoes.keySet()}" id="t1" th:id="${'t' + #dates.format(p, 'dd-MM-yyyy')}" >
                                    <table class="table table-striped">
                                            <tbody th:each="l : ${hashProgramacoes.get(p)}">
                                                <tr>
                        
                                                    <td class="prog-sala prog-font text-center">
                                                        <b th:text="${l.nome_sala}">Sala 1</b>
                                                    </td>
                        
                                                    <td class="form-inline">
                                                        <div class="prog-horario prog-font ml-1 px-1"><b th:text="${#dates.format(l.exibicao, 'HH:mm')}">13:20</b></div>

                                                    </td>
                                                    
                                                    <td>
                                                        <img src="img/DUB.png" th:src="${'http://movieresources.000webhostapp.com/img/' + l.audio + '.png'}" class="ico-desc"/>
                                                        <img src="img/2D.png" th:src="${'http://movieresources.000webhostapp.com/img/' + l.qualidade + '.png'}" class="ico-desc"/>
                                                    </td>
                        
                                                    <td class="text-right prog-font">
                                                        <b>Inteira: </b> <span th:text="${#numbers.formatCurrency(l.preco) + ' - '}" th:remove="tag"> R$ 28,00 - </span> <b>Meia:</b> <span th:text="${#numbers.formatCurrency(l.preco/2)}" th:remove="tag">R$ 14,00 </span>
                                                    </td>
                        
                                                </tr>
                                            </tbody>
                                    </table>
                            </div>   

                        </div>

            </div>

        </div>
    </div>

    <!-- Modal Adicionar Sala-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"><b>Adicionar uma nova sala de cinema</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body col-12">
                    <p class="col mt-auto mb-auto">Nome <input type="text" name="sala-nome" class="col-10" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Adicionar Sala</button>
                </div>
            </div>
        </div>
    </div>


	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        

        
</body>

</html>